$bgr-color: #f7f7f7;
$base-color: #1d1d1b;
$font-color: #000;
$main-color: #21b2d7;
$sub-color: #d3f6ff;
$accent-color: #ef9233;
$alert-color: #ec7148;
$white-color: #fff;

$cta-bgr-color: #fff9f0;
$light-accent-color: #ffeed3;
$border-color: #a0a0a0;
$line-color: #efe133;
$mainvisual-color: #707070;

$main-bgr-color: #f0feff;
